<div class="jumbotron">
	<h1>Theme example</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint labore saepe dolorem quasi facilis. Ducimus hic fugit obcaecati consequuntur quia minima, blanditiis reprehenderit incidunt, explicabo laudantium saepe modi corrupti ipsa.</p>
</div>